* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
li.horizontal {
    display: inline;
}

li.active {
    background-color: #04AA6D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
	position: fixed;
	width: 100%;
	top: 0;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #222;
    padding: 50px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    transition: all 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart.open {
    right: 0;
}

.cart-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-content {
    flex-grow: 1;
    overflow-y: auto;
}

.cart-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.detail-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.cart-price {
    font-weight: bold;
}

.cart-quantity {
    width: 50px;
}

.cart-remove {
    font-size: 20px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-buy {
    background-color: #222;
    color: #5e5e5e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-buy:hover {
    background-color: #444;
}

#close-cart {
    font-size: 24px;
    cursor: pointer;
}

.shop {
    padding: 40px 0;
}

.section-title {
    font-size: 32px;
    margin-bottom: 40px;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.add-cart {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.add-cart:hover {
    color: #222;
}

#cart-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
