body {
	background-image: url("https://cdn.discordapp.com/attachments/1089901577751515186/1090665194822303826/ao79glhjx4xugm86hbzp0ugiqxei.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* SITEMAP CSS */
/* ----------- */

svg {
	display: block;
	margin: auto;
}

g:hover polyline,
g:hover line {
	fill: none;
	stroke-width: 2;
	stroke: red;
}

g:hover g text,
g:hover text {
	font-weight: bold;
}

g:hover polygon,
g:hover rect,
g:focus polygon,
g:focus rect {
	fill: hsla(24, 20%, 50%,.3);
	stroke: red;
	stroke-width: 2;
}

/* PAGE EDITOR CSS */
/* --------------- */

#pageEditorBanner {
	text-align: center;
	font-size: 20px;
}