html {
	height: 100%;
	width: 100%;
}

/* NAVBAR CSS */
/* ---------- */

li.horizontal {
    display: inline;
}

li.active {
    background-color: #04AA6D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	width: 100%;
	top: 0;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

/* SITEMAP CSS */
/* ----------- */

svg {
	display: block;
}

g:hover polyline,
g:hover line {
	fill: none;
	stroke-width: 2;
	stroke: black;
}

g:hover g text,
g:hover text {
	font-weight: bold;
}

g:hover polygon,
g:hover rect,
g:focus polygon,
g:focus rect {
	fill: hsla(24, 20%, 50%,.3);
	stroke: black;
	stroke-width: 2;
}

#box {
	width: 50%;
	margin: auto;
	border: 2px solid black;
}

/* PAGE EDITOR CSS */
/* --------------- */

#pageEditorBanner {
	text-align: center;
	font-size: 20px;
}